h1 {
  color: red;
  text-align: center;
  font-size: 50px;
}

p {
  color: blue;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ruVQU_3PjPfLRFBGumcumTHigPHZlZKZG0cnL3t6vQno8_wOoA");
  background-repeat: no-repeat;
  background-size: 100%;
}
