h1 {
  color: red;
  text-align: center;
  font-size: 50px;
}

p {
  color: blue;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS38cxF7XFoSayz9n-qZU1c4X8qgDrS_6WMxguQJxpnHJr_vnl9");
}
section {
  width: 300px;
  background-color: white;
  padding: 25px;
  border: 10px solid blue;
  margin: 25px;
}

